<a href="https://colab.research.google.com/github/aditya-nt/TFpublic/blob/master/PandasSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np

In [0]:
import pandas as pd

In [3]:
df = pd.read_csv('sample_data/california_housing_train.csv')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [4]:
df.isna()

       longitude  latitude  ...  median_income  median_house_value
0          False     False  ...          False               False
1          False     False  ...          False               False
2          False     False  ...          False               False
3          False     False  ...          False               False
4          False     False  ...          False               False
...          ...       ...  ...            ...                 ...
16995      False     False  ...          False               False
16996      False     False  ...          False               False
16997      False     False  ...          False               False
16998      False     False  ...          False               False
16999      False     False  ...          False               False

[17000 rows x 9 columns]

In [5]:
df.shape

(17000, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [7]:
df.index

RangeIndex(start=0, stop=17000, step=1)

In [8]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [9]:
df.columns[0]

'longitude'

In [10]:
df.groupby('housing_median_age').head()

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
2844     -117.73     34.06  ...         1.4063             98800.0
2913     -117.76     34.07  ...         2.3156            109800.0
5814     -118.20     34.14  ...         3.9375            217000.0
10993    -120.93     37.65  ...         4.2500            189200.0
13708    -122.00     38.23  ...         5.2636            191300.0

[257 rows x 9 columns]

In [11]:
df.assign(total_income=df['population']*df['median_income']).head(5)

   longitude  latitude  ...  median_house_value  total_income
0    -114.31     34.19  ...             66900.0     1516.0040
1    -114.47     34.40  ...             80100.0     2054.7800
2    -114.56     33.69  ...             85700.0      549.7497
3    -114.57     33.64  ...             73400.0     1643.7255
4    -114.57     33.57  ...             65500.0     1201.2000

[5 rows x 10 columns]

In [0]:
df2=df[['housing_median_age','latitude']]

In [13]:
df2.assign(new = df2['housing_median_age']*2).head(5)

   housing_median_age  latitude   new
0                15.0     34.19  30.0
1                19.0     34.40  38.0
2                17.0     33.69  34.0
3                14.0     33.64  28.0
4                20.0     33.57  40.0

In [14]:
df2[df2['housing_median_age']==15.0].head()

    housing_median_age  latitude
0                 15.0     34.19
14                15.0     32.76
23                15.0     33.82
38                15.0     32.68
79                15.0     32.80

In [15]:
df[['households','housing_median_age']].head()

   households  housing_median_age
0       472.0                15.0
1       463.0                19.0
2       117.0                17.0
3       226.0                14.0
4       262.0                20.0

In [16]:
df[['households','housing_median_age']].groupby('housing_median_age').tail()

       households  housing_median_age
10993       112.0                 1.0
13152       990.0                 3.0
13350       456.0                 3.0
13486      1215.0                 3.0
13708       268.0                 1.0
...           ...                 ...
16995       369.0                52.0
16996       465.0                36.0
16997       456.0                17.0
16998       478.0                19.0
16999       270.0                52.0

[257 rows x 2 columns]

In [0]:
# df.value_counts()

In [18]:
is_dinner = df['housing_median_age'] == 15.0

is_dinner.value_counts()

False    16584
True       416
Name: housing_median_age, dtype: int64

In [19]:
temp = df[(df['housing_median_age'] == 15.0) | (df['housing_median_age'] == 17.0)]
temp

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
2        -114.56     33.69  ...         1.6509             85700.0
14       -114.63     32.76  ...         0.8585             45000.0
15       -114.65     34.89  ...         1.6991             69100.0
18       -114.66     32.74  ...         1.2049             44000.0
...          ...       ...  ...            ...                 ...
16949    -124.15     41.81  ...         2.2868            103100.0
16957    -124.16     41.74  ...         2.1829             69500.0
16983    -124.19     41.78  ...         1.6654             74600.0
16987    -124.21     41.77  ...         2.5795             68400.0
16997    -124.30     41.84  ...         3.0313            103600.0

[992 rows x 9 columns]

In [20]:
df[df['population'].isna()]

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value]
Index: []

In [21]:
df.groupby('housing_median_age').size()

housing_median_age
1.0        2
2.0       49
3.0       46
4.0      161
5.0      199
6.0      129
7.0      151
8.0      178
9.0      172
10.0     226
11.0     208
12.0     192
13.0     249
14.0     347
15.0     416
16.0     635
17.0     576
18.0     478
19.0     412
20.0     383
21.0     373
22.0     323
23.0     382
24.0     389
25.0     461
26.0     503
27.0     397
28.0     400
29.0     374
30.0     384
31.0     384
32.0     458
33.0     513
34.0     567
35.0     692
36.0     715
37.0     437
38.0     318
39.0     302
40.0     249
41.0     232
42.0     308
43.0     286
44.0     296
45.0     235
46.0     196
47.0     175
48.0     135
49.0     111
50.0     112
51.0      32
52.0    1052
dtype: int64

In [22]:
df.groupby('housing_median_age').count()

                    longitude  latitude  ...  median_income  median_house_value
housing_median_age                       ...
1.0                         2         2  ...              2                   2
2.0                        49        49  ...             49                  49
3.0                        46        46  ...             46                  46
4.0                       161       161  ...            161                 161
5.0                       199       199  ...            199                 199
6.0                       129       129  ...            129                 129
7.0                       151       151  ...            151                 151
8.0                       178       178  ...            178                 178
9.0                       172       172  ...            172                 172
10.0                      226       226  ...            226                 226
11.0                      208       208  ...            208                 208
12.0                      192       192  ...            192                 192
13.0                      249       249  ...            249                 249
14.0                      347       347  ...            347                 347
15.0                      416       416  ...            416                 416
16.0                      635       635  ...            635                 635
17.0                      576       576  ...            576                 576
18.0                      478       478  ...            478                 478
19.0                      412       412  ...            412                 412
20.0                      383       383  ...            383                 383
21.0                      373       373  ...            373                 373
22.0                      323       323  ...            323                 323
23.0                      382       382  ...            382                 382
24.0                      389       389  ...            389                 389
25.0                      461       461  ...            461                 461
26.0                      503       503  ...            503                 503
27.0                      397       397  ...            397                 397
28.0                      400       400  ...            400                 400
29.0                      374       374  ...            374                 374
30.0                      384       384  ...            384                 384
31.0                      384       384  ...            384                 384
32.0                      458       458  ...            458                 458
33.0                      513       513  ...            513                 513
34.0                      567       567  ...            567                 567
35.0                      692       692  ...            692                 692
36.0                      715       715  ...            715                 715
37.0                      437       437  ...            437                 437
38.0                      318       318  ...            318                 318
39.0                      302       302  ...            302                 302
40.0                      249       249  ...            249                 249
41.0                      232       232  ...            232                 232
42.0                      308       308  ...            308                 308
43.0                      286       286  ...            286                 286
44.0                      296       296  ...            296                 296
45.0                      235       235  ...            235                 235
46.0                      196       196  ...            196                 196
47.0                      175       175  ...            175                 175
48.0                      135       135  ...            135                 135
49.0                      111       111  ...            111                 111
50.0                      112       112  ...            112                 112
51.0                       32        32  ...             32                  32
52.0                     1052      1052  ...           1052                1052

[52 rows x 8 columns]

In [23]:
df.groupby('housing_median_age')[['housing_median_age','total_bedrooms']].count()

                    housing_median_age  total_bedrooms
housing_median_age
1.0                                  2               2
2.0                                 49              49
3.0                                 46              46
4.0                                161             161
5.0                                199             199
6.0                                129             129
7.0                                151             151
8.0                                178             178
9.0                                172             172
10.0                               226             226
11.0                               208             208
12.0                               192             192
13.0                               249             249
14.0                               347             347
15.0                               416             416
16.0                               635             635
17.0                               576             576
18.0                               478             478
19.0                               412             412
20.0                               383             383
21.0                               373             373
22.0                               323             323
23.0                               382             382
24.0                               389             389
25.0                               461             461
26.0                               503             503
27.0                               397             397
28.0                               400             400
29.0                               374             374
30.0                               384             384
31.0                               384             384
32.0                               458             458
33.0                               513             513
34.0                               567             567
35.0                               692             692
36.0                               715             715
37.0                               437             437
38.0                               318             318
39.0                               302             302
40.0                               249             249
41.0                               232             232
42.0                               308             308
43.0                               286             286
44.0                               296             296
45.0                               235             235
46.0                               196             196
47.0                               175             175
48.0                               135             135
49.0                               111             111
50.0                               112             112
51.0                                32              32
52.0                              1052            1052

In [0]:
# df.groupby('housing_median_age').agg({'longitude': })