<a href="https://colab.research.google.com/github/aditya-nt/TFpublic/blob/master/AI-Engineering/Keras/FinalProject_Introduction_to_Deep_Learning_%26_Neural_Networks_with_Keras(A).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [29]:
concrete = pd.read_csv('concrete_data.csv')
concrete.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

# Pre-processing

In [30]:
data = concrete
labels = data.pop('Strength')
data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [20]:
labels.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

# Training/Test Split

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(data, labels, test_size=0.3)

In [0]:
input_shape = data.shape[1]

# Defining the Model

In [0]:
def regression_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(input_shape,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

model = regression_model()

# Training the Model

In [33]:
EPOCHS = 50
model.fit(X_train, y_train, epochs=EPOCHS, verbose=2)

Epoch 1/50
 - 0s - loss: 142.2808
Epoch 2/50
 - 0s - loss: 140.3740
Epoch 3/50
 - 0s - loss: 138.5236
Epoch 4/50
 - 0s - loss: 137.2169
Epoch 5/50
 - 0s - loss: 135.7129
Epoch 6/50
 - 0s - loss: 134.0898
Epoch 7/50
 - 0s - loss: 132.1663
Epoch 8/50
 - 0s - loss: 130.9121
Epoch 9/50
 - 0s - loss: 130.7544
Epoch 10/50
 - 0s - loss: 129.8524
Epoch 11/50
 - 0s - loss: 128.4880
Epoch 12/50
 - 0s - loss: 126.4302
Epoch 13/50
 - 0s - loss: 125.0311
Epoch 14/50
 - 0s - loss: 124.2976
Epoch 15/50
 - 0s - loss: 124.5477
Epoch 16/50
 - 0s - loss: 121.9342
Epoch 17/50
 - 0s - loss: 121.1197
Epoch 18/50
 - 0s - loss: 120.6638
Epoch 19/50
 - 0s - loss: 120.4569
Epoch 20/50
 - 0s - loss: 123.5785
Epoch 21/50
 - 0s - loss: 119.2883
Epoch 22/50
 - 0s - loss: 118.8994
Epoch 23/50
 - 0s - loss: 118.1707
Epoch 24/50
 - 0s - loss: 119.3098
Epoch 25/50
 - 0s - loss: 115.4407
Epoch 26/50
 - 0s - loss: 115.8076
Epoch 27/50
 - 0s - loss: 113.7693
Epoch 28/50
 - 0s - loss: 114.1395
Epoch 29/50
 - 0s - loss: 114.9988
Epoch 30/50
 - 0s - loss: 113.0685
Epoch 31/50
 - 0s - loss: 113.8883
Epoch 32/50
 - 0s - loss: 112.3414
Epoch 33/50
 - 0s - loss: 112.7866
Epoch 34/50
 - 0s - loss: 111.4022
Epoch 35/50
 - 0s - loss: 110.3932
Epoch 36/50
 - 0s - loss: 109.7925
Epoch 37/50
 - 0s - loss: 112.6110
Epoch 38/50
 - 0s - loss: 111.7550
Epoch 39/50
 - 0s - loss: 110.2880
Epoch 40/50
 - 0s - loss: 112.6398
Epoch 41/50
 - 0s - loss: 111.2993
Epoch 42/50
 - 0s - loss: 108.7184
Epoch 43/50
 - 0s - loss: 109.0322
Epoch 44/50
 - 0s - loss: 108.5609
Epoch 45/50
 - 0s - loss: 109.2083
Epoch 46/50
 - 0s - loss: 109.0557
Epoch 47/50
 - 0s - loss: 108.2264
Epoch 48/50
 - 0s - loss: 108.4964
Epoch 49/50
 - 0s - loss: 107.9112
Epoch 50/50
 - 0s - loss: 118.0628

In [34]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 63us/step

99.9014707398646

In [0]:
from sklearn.metrics import mean_squared_error

In [38]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

99.90146811101374 0.0

In [40]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(data, labels, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("Mean Squared Error "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print()
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Mean Squared Error 1: 88.69465518692165
Mean Squared Error 2: 85.2387651116331
Mean Squared Error 3: 56.76716733518928
Mean Squared Error 4: 59.33391754989871
Mean Squared Error 5: 51.97516211105396
Mean Squared Error 6: 54.78125834542185
Mean Squared Error 7: 59.174744911564204
Mean Squared Error 8: 45.26085745555297
Mean Squared Error 9: 55.1063548708425
Mean Squared Error 10: 50.1259124410191
Mean Squared Error 11: 50.14006522712584
Mean Squared Error 12: 48.18289371601586
Mean Squared Error 13: 60.30886509349045
Mean Squared Error 14: 51.06083632287084
Mean Squared Error 15: 49.7773393797643
Mean Squared Error 16: 42.92737702798689
Mean Squared Error 17: 61.11342072718352
Mean Squared Error 18: 50.88362294416211
Mean Squared Error 19: 44.103737667540514
Mean Squared Error 20: 48.06236180672754
Mean Squared Error 21: 45.03454096031806
Mean Squared Error 22: 58.05761645912738
Mean Squared Error 23: 52.073015836450274
Mean Squared Error 24: 46.76106078879347
Mean Squared Error 25: 47.59536104912125
Mean Squared Error 26: 47.775002315978014
Mean Squared Error 27: 51.004623092108176
Mean Squared Error 28: 45.71845477452942
Mean Squared Error 29: 51.30953662218013
Mean Squared Error 30: 51.92123258769705
Mean Squared Error 31: 52.153857530513626
Mean Squared Error 32: 42.38057688370492
Mean Squared Error 33: 48.8359840417757
Mean Squared Error 34: 49.912919004372405
Mean Squared Error 35: 45.342060447124986
Mean Squared Error 36: 53.63022564144196
Mean Squared Error 37: 53.56393105466775
Mean Squared Error 38: 61.438879438974325
Mean Squared Error 39: 48.791452648570235
Mean Squared Error 40: 48.055748035221036
Mean Squared Error 41: 62.013404475832445
Mean Squared Error 42: 43.52471817658557
Mean Squared Error 43: 48.32308826014448
Mean Squared Error 44: 50.08653548157331
Mean Squared Error 45: 55.88962438885834
Mean Squared Error 46: 49.7839504353051
Mean Squared Error 47: 51.87719263613803
Mean Squared Error 48: 50.134989173666945
Mean Squared Error 49: 48.6775780588292
Mean Squared Error 50: 50.07138934336048


Mean: 52.49515698171469
Standard Deviation: 8.556206857809789