<a href="https://colab.research.google.com/github/aditya-nt/TFpublic/blob/master/AI-Engineering/Keras/FinalProject_Introduction_to_Deep_Learning_%26_Neural_Networks_with_Keras(C).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [29]:
concrete = pd.read_csv('concrete_data.csv')
concrete.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

# Pre-processing

In [30]:
data = concrete
labels = data.pop('Strength')
data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [20]:
labels.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

# NORMALIZATION OF DATA  ---------------------- PART B

In [41]:
data_norm = (data - data.mean()) / data.std()
data_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

# Training/Test Split

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(data_norm, labels, test_size=0.3)

In [0]:
input_shape = data.shape[1]

# Defining the Model

In [0]:
def regression_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(input_shape,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

model = regression_model()

# Training the Model

In [47]:
EPOCHS = 50
model.fit(X_train, y_train, epochs=EPOCHS, verbose=2)

Epoch 1/50
 - 0s - loss: 1562.5290
Epoch 2/50
 - 0s - loss: 1546.6083
Epoch 3/50
 - 0s - loss: 1530.5512
Epoch 4/50
 - 0s - loss: 1514.6730
Epoch 5/50
 - 0s - loss: 1498.6056
Epoch 6/50
 - 0s - loss: 1482.2353
Epoch 7/50
 - 0s - loss: 1465.4886
Epoch 8/50
 - 0s - loss: 1448.2208
Epoch 9/50
 - 0s - loss: 1430.0819
Epoch 10/50
 - 0s - loss: 1411.2308
Epoch 11/50
 - 0s - loss: 1391.4389
Epoch 12/50
 - 0s - loss: 1370.2782
Epoch 13/50
 - 0s - loss: 1348.1355
Epoch 14/50
 - 0s - loss: 1325.0421
Epoch 15/50
 - 0s - loss: 1300.5426
Epoch 16/50
 - 0s - loss: 1275.4210
Epoch 17/50
 - 0s - loss: 1248.8912
Epoch 18/50
 - 0s - loss: 1221.4398
Epoch 19/50
 - 0s - loss: 1193.2033
Epoch 20/50
 - 0s - loss: 1164.3431
Epoch 21/50
 - 0s - loss: 1134.3118
Epoch 22/50
 - 0s - loss: 1104.2089
Epoch 23/50
 - 0s - loss: 1073.1431
Epoch 24/50
 - 0s - loss: 1042.0165
Epoch 25/50
 - 0s - loss: 1010.6056
Epoch 26/50
 - 0s - loss: 978.6473
Epoch 27/50
 - 0s - loss: 947.1606
Epoch 28/50
 - 0s - loss: 916.0058
Epoch 29/50
 - 0s - loss: 884.4644
Epoch 30/50
 - 0s - loss: 853.2814
Epoch 31/50
 - 0s - loss: 823.0246
Epoch 32/50
 - 0s - loss: 792.8942
Epoch 33/50
 - 0s - loss: 763.4790
Epoch 34/50
 - 0s - loss: 734.3293
Epoch 35/50
 - 0s - loss: 706.4452
Epoch 36/50
 - 0s - loss: 679.2536
Epoch 37/50
 - 0s - loss: 652.5682
Epoch 38/50
 - 0s - loss: 627.0444
Epoch 39/50
 - 0s - loss: 602.1354
Epoch 40/50
 - 0s - loss: 578.4714
Epoch 41/50
 - 0s - loss: 555.5087
Epoch 42/50
 - 0s - loss: 533.4889
Epoch 43/50
 - 0s - loss: 512.5449
Epoch 44/50
 - 0s - loss: 492.2867
Epoch 45/50
 - 0s - loss: 473.1778
Epoch 46/50
 - 0s - loss: 454.9384
Epoch 47/50
 - 0s - loss: 437.6370
Epoch 48/50
 - 0s - loss: 421.3193
Epoch 49/50
 - 0s - loss: 405.7472
Epoch 50/50
 - 0s - loss: 391.2595

In [48]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 48us/step

442.8009228752655

In [0]:
from sklearn.metrics import mean_squared_error

In [50]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

442.8009202684738 0.0

# Repeatation for 100 EPOCHS

In [53]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(data_norm, labels, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("Mean Squared Error "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print()
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Mean Squared Error 1: 28.13744660411452
Mean Squared Error 2: 29.896730515563373
Mean Squared Error 3: 23.132201062051223
Mean Squared Error 4: 26.780419031778973
Mean Squared Error 5: 27.622074238304954
Mean Squared Error 6: 30.186618669133356
Mean Squared Error 7: 30.969803905795693
Mean Squared Error 8: 26.465690365886996
Mean Squared Error 9: 27.11450036058148
Mean Squared Error 10: 25.954542376076905
Mean Squared Error 11: 28.113934211360597
Mean Squared Error 12: 24.675438593892217
Mean Squared Error 13: 30.316260816209912
Mean Squared Error 14: 32.191662995174866
Mean Squared Error 15: 26.092508816024633
Mean Squared Error 16: 23.69786753855091
Mean Squared Error 17: 28.438405496788643
Mean Squared Error 18: 27.92397864505311
Mean Squared Error 19: 26.070856051151807
Mean Squared Error 20: 28.08946032971626
Mean Squared Error 21: 28.00190945967887
Mean Squared Error 22: 25.93702452699729
Mean Squared Error 23: 24.621036443123927
Mean Squared Error 24: 24.97494835838145
Mean Squared Error 25: 29.04095875946835
Mean Squared Error 26: 28.90834302192367
Mean Squared Error 27: 24.98568975578234
Mean Squared Error 28: 25.31067334641145
Mean Squared Error 29: 30.678263901892603
Mean Squared Error 30: 28.922353954376913
Mean Squared Error 31: 25.986086015176618
Mean Squared Error 32: 23.770068134690565
Mean Squared Error 33: 24.082406639667006
Mean Squared Error 34: 27.60543899165774
Mean Squared Error 35: 27.066642539015096
Mean Squared Error 36: 32.71996516625858
Mean Squared Error 37: 24.989600298859926
Mean Squared Error 38: 29.12150045351689
Mean Squared Error 39: 27.08992122292133
Mean Squared Error 40: 24.938197663686807
Mean Squared Error 41: 31.07322584232466
Mean Squared Error 42: 25.391851764666608
Mean Squared Error 43: 25.6331743160112
Mean Squared Error 44: 30.446687284796756
Mean Squared Error 45: 26.52911491764402
Mean Squared Error 46: 29.45566030459111
Mean Squared Error 47: 27.348856990777172
Mean Squared Error 48: 28.54222342728797
Mean Squared Error 49: 30.211009127422443
Mean Squared Error 50: 28.768856931272833

Mean: 27.480441441608036
Standard Deviation: 2.310662162960951

# This result is with 100 epochs