<a href="https://colab.research.google.com/github/aditya-nt/TFpublic/blob/master/AI-Engineering/Keras/FinalProject_Introduction_to_Deep_Learning_%26_Neural_Networks_with_Keras(D).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense

In [4]:
concrete = pd.read_csv('concrete_data.csv')
concrete.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

# Pre-processing

In [5]:
data = concrete
labels = data.pop('Strength')
data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [6]:
labels.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

# NORMALIZATION OF DATA  ---------------------- PART B

In [7]:
data_norm = (data - data.mean()) / data.std()
data_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

# Training/Test Split

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(data_norm, labels, test_size=0.3)

In [0]:
input_shape = data.shape[1]

# Defining the Model   ----- PART 4 -  3HIDDEN LAYERS

In [0]:
def regression_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(input_shape,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

model = regression_model()

# Training the Model

In [12]:
EPOCHS = 50
model.fit(X_train, y_train, epochs=EPOCHS, verbose=2)

Epoch 1/50
 - 0s - loss: 1561.1622
Epoch 2/50
 - 0s - loss: 1537.1241
Epoch 3/50
 - 0s - loss: 1508.3515
Epoch 4/50
 - 0s - loss: 1469.1116
Epoch 5/50
 - 0s - loss: 1412.1198
Epoch 6/50
 - 0s - loss: 1326.2234
Epoch 7/50
 - 0s - loss: 1196.1710
Epoch 8/50
 - 0s - loss: 994.5924
Epoch 9/50
 - 0s - loss: 751.2973
Epoch 10/50
 - 0s - loss: 513.9947
Epoch 11/50
 - 0s - loss: 341.1419
Epoch 12/50
 - 0s - loss: 257.5728
Epoch 13/50
 - 0s - loss: 231.7977
Epoch 14/50
 - 0s - loss: 219.1359
Epoch 15/50
 - 0s - loss: 210.1435
Epoch 16/50
 - 0s - loss: 203.2719
Epoch 17/50
 - 0s - loss: 197.0276
Epoch 18/50
 - 0s - loss: 191.7564
Epoch 19/50
 - 0s - loss: 187.2685
Epoch 20/50
 - 0s - loss: 183.0568
Epoch 21/50
 - 0s - loss: 179.1992
Epoch 22/50
 - 0s - loss: 176.1412
Epoch 23/50
 - 0s - loss: 172.9219
Epoch 24/50
 - 0s - loss: 169.9709
Epoch 25/50
 - 0s - loss: 166.9537
Epoch 26/50
 - 0s - loss: 164.3583
Epoch 27/50
 - 0s - loss: 162.1379
Epoch 28/50
 - 0s - loss: 159.8475
Epoch 29/50
 - 0s - loss: 157.6907
Epoch 30/50
 - 0s - loss: 155.2861
Epoch 31/50
 - 0s - loss: 153.2483
Epoch 32/50
 - 0s - loss: 151.3830
Epoch 33/50
 - 0s - loss: 149.4260
Epoch 34/50
 - 0s - loss: 147.4790
Epoch 35/50
 - 0s - loss: 145.8057
Epoch 36/50
 - 0s - loss: 144.2492
Epoch 37/50
 - 0s - loss: 142.3502
Epoch 38/50
 - 0s - loss: 140.5025
Epoch 39/50
 - 0s - loss: 139.0109
Epoch 40/50
 - 0s - loss: 136.9747
Epoch 41/50
 - 0s - loss: 135.5551
Epoch 42/50
 - 0s - loss: 134.0353
Epoch 43/50
 - 0s - loss: 132.2983
Epoch 44/50
 - 0s - loss: 131.2420
Epoch 45/50
 - 0s - loss: 129.3109
Epoch 46/50
 - 0s - loss: 128.0533
Epoch 47/50
 - 0s - loss: 126.3873
Epoch 48/50
 - 0s - loss: 125.0330
Epoch 49/50
 - 0s - loss: 123.8836
Epoch 50/50
 - 0s - loss: 122.6139

In [13]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 80us/step

128.64313366343674

In [0]:
from sklearn.metrics import mean_squared_error

In [15]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

128.64313380213687 0.0

In [16]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(data_norm, labels, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("Mean Squared Error "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print()
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Mean Squared Error 1: 69.85725279379045
Mean Squared Error 2: 62.70211841373382
Mean Squared Error 3: 39.40200503204247
Mean Squared Error 4: 41.06273162249222
Mean Squared Error 5: 37.49043593669015
Mean Squared Error 6: 40.071936240088206
Mean Squared Error 7: 39.92371896786983
Mean Squared Error 8: 27.35822359103601
Mean Squared Error 9: 32.055676074475535
Mean Squared Error 10: 30.806238020122244
Mean Squared Error 11: 30.08742402826698
Mean Squared Error 12: 26.60900518423531
Mean Squared Error 13: 32.909704739221866
Mean Squared Error 14: 35.138120472238285
Mean Squared Error 15: 28.441960862539347
Mean Squared Error 16: 22.142553773898523
Mean Squared Error 17: 26.106565432255323
Mean Squared Error 18: 27.976972462675718
Mean Squared Error 19: 27.204291840587235
Mean Squared Error 20: 30.634930150794364
Mean Squared Error 21: 26.45109839578277
Mean Squared Error 22: 27.60413956873625
Mean Squared Error 23: 25.617535334960543
Mean Squared Error 24: 26.138856233516556
Mean Squared Error 25: 27.05381515033808
Mean Squared Error 26: 29.883423740424
Mean Squared Error 27: 22.220099168302173
Mean Squared Error 28: 24.163495048350114
Mean Squared Error 29: 28.67700338517964
Mean Squared Error 30: 24.722452034070653
Mean Squared Error 31: 20.422478999906374
Mean Squared Error 32: 20.497945408990855
Mean Squared Error 33: 21.179646106213813
Mean Squared Error 34: 22.86352389067122
Mean Squared Error 35: 26.666801551399107
Mean Squared Error 36: 27.18290119726681
Mean Squared Error 37: 23.28227706711655
Mean Squared Error 38: 23.877838036003237
Mean Squared Error 39: 21.981023560064124
Mean Squared Error 40: 21.03654638617556
Mean Squared Error 41: 23.395331243866856
Mean Squared Error 42: 19.73122163420742
Mean Squared Error 43: 23.27641659029865
Mean Squared Error 44: 22.56372833869218
Mean Squared Error 45: 26.55205122321169
Mean Squared Error 46: 22.713973381758507
Mean Squared Error 47: 23.567359529266852
Mean Squared Error 48: 23.227766759187272
Mean Squared Error 49: 23.736647220105414
Mean Squared Error 50: 23.42857587993338

Mean: 28.633956369313136
Standard Deviation: 9.389348140038276

# RESULT WITH 3 HIDDEN LAYERS